*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
  
}
body{
    font-family: "Roboto", sans-serif;
}

.head{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    gap:100px;
    padding-top: 10px;
    padding-bottom: 100px;
   


    
}
.text-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 50%;
}

.header{
width: 64rem;
  
    display: flex;
  align-items: center;
    justify-content: space-between;
    
    
    
}
.title-button{
    color: #F9FAF8;
   background-color: #3882F6;
   font-size: 18px;
   border: none;
   padding:5px 25px;
   text-align: center;
   border-radius: 4px;
   margin-top: 10px;
   
}
.head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    
}
h2{
    margin: 0;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.description{
    color: #E5E7EB;
    font-size: 18px;
    max-width: 600px
}
.bike{
    width: 400px;
    height: 200px;
}
.main-logo{
    font-size: 24px;
    color: #F9FAF8;
    
    
    
    
}
ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

.container{
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container{
    display: flex;
    max-width: 70%;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.cards-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card{
    width: 200px; 
    height: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.quote-text{
    width: 70%;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
}
.quote-autor{
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 50px;
}
.signup-container{
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    width: 70%;
    justify-content: space-around;
}
.signup-text{
    color: #F9FAF8;
    
}
.signup-maintext{
    font-size: 20px;
    font-weight: 500;
}
.signup-subtext{
    font-size: 15px;
    color: #f4f4f4;
}

.signup-button{
    font-size: 15px;
    font-weight: 900;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 40px;
}

footer{
    background-color: #1F2937;
    padding: 40px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: #F9FAF8;
}
